<%- include ('../_layouts/adminheader') %>
<h2 class="page-title mt-3">Add a Category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>

<form action="/admin/categories/add-category" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" name="title" value="<%= title %>" class="form-control" placeholder="Title">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<%- include ('../_layouts/adminfooter') %>