<%- include ('_layouts/header') %>
<h1><%= title%></h1>
<form action="/users/register" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" name="password2" class="form-control" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<%- include ('_layouts/footer') %>
